extends layout
block content 
    .row
        .col
            .mx-5
                
                h1 #{details.Name}
                table.table
                    thead 
                        tr
                            th Eigenschaften:
                    tbody
                        for gegenstand in details.stats
                            tr
                                td=gegenstand 
