extends layout
block content 
    .row
        .col
            .mx-5
                h1 Diablo 2 Ressurected Itemdatenbank
                    table 
                        thead                      
                            tr
                                th Items
                tbody
                    tr
                        td  Ringe