extends layout
block content 
    .row
        .col
            .mx-5
                h1 Ringe 
                table.table 
                    thead
                        tr
                            th Bild
                            th Name
                    tbody
                        for gegenstand in gegenstaende 
                            tr
                                td
                                    img(src=`${gegenstand.img}`, style='max-width:30px;')
    
                                th 
                                    a(href="/item/details/"+gegenstand.id)=gegenstand.Name
